/* General Styling */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

/* Search Container */
#search-container {
  text-align: center;
  padding: 20px;
  background-color: #4caf50;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#search-container h1 {
  margin-bottom: 20px;
  font-size: 2em;
}

#searchMovie {
  width: 60%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

#searchMovie:focus {
  outline: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Movie Container */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

/* Movie Card */
.movie {
  background-color: white;
  width: 250px;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  text-align: center;
}

.movie img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.movie h3 {
  margin: 10px 0;
  font-size: 1.5em;
  color: #333;
}

.movie p {
  font-size: 1em;
  color: #777;
}

.movie button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.movie button:hover {
  background-color: #45a049;
}

.movie button a {
  text-decoration: none;
  color: white;
}

.movie:hover {
  transform: scale(1.05);
}
